.intro {
	@extend %centered;
}

.intro-text {
	color: $grey;
	margin-top: 9.375rem;
	margin-bottom: 4.8125rem;
	font-size: 2rem;
	@extend %centered;
	max-width: 52.75rem;
	display: inline-block;
	font-weight: $light;
	
	@include max-down(768px) {
		max-width: 90%;
	}
}

.divider {
	max-width:90%;
	margin: 0 auto 7.9375rem auto; 
	height: 3rem;
	background-image: url("../../img/divider.png");
	background-repeat: no-repeat;
	background-position: center center;
	
	@include max-down(768px) {
		margin-bottom: 5rem;
	}
}

