*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
/* 	width: 74.375rem; */
	font-family: 'Roboto', sans-serif;
}

.background-wrapper{
	background-image: url("img/hero.jpg");
	color: white;
	height: 40rem;
}

.main-header {
	
}

.logo,
.main-nav,
.nav-item
 {
	display: inline-block;
}

.logo {
	width: 9.8125rem;
	height: 6.25rem;
	margin-top: 1.125rem;
	margin-left: 2.125rem;
}

.main-nav {
	margin-top: 2.1875rem;
	margin-right: 2.1875rem;
	float: right;
	
}

.nav-list {
	
}

.nav-item {
	list-style: none;
	padding-left: 1.75rem;
}

.nav-item-link {
	text-decoration: none;
	color: white;
	font-size: 1.125rem;
	font-weight: 500;
}

.main-hero {
	text-align: center;
	height: 20rem;
}

.main-hero-heading,
.main-hero-date {
	margin: 0;
	position: relative;
	top: 45%;
}

.main-hero-heading {
	font-size: 5.75rem;
	font-weight: 100;
}

.main-hero-date {
	font-size: 1.5rem;
	font-weight: 300;
	
}

.main-hero-date::after {
	content:"</>";
	display: block;
}

.intro {
	text-align: center;
}

.intro-text {
	color: #C3BFBF;
	margin-top: 9.375rem;
	margin-bottom: 4.8125rem;
	font-size: 2rem;
	text-align: center;
	max-width: 52.75rem;
	display: inline-block;
	font-weight: 300;
}

.divider {
	width:100%;
	height: 3rem;
	background-image: url("img/divider.png");
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 7.9375rem;
}

.goals {
	width: 100%;
	display: inline-block;
	padding-bottom: 9.6875rem;
}

.goals-header {
	color: #777777;
	font-size: 1.75rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 4.3125rem;
	font-weight: 500;
}

.goals-list {
	margin-left: 3.4375rem;
	margin-right: 3.4375rem;
/* 	margin-bottom: 9.6875rem; */
	display: block;
}

.goals-list-item {
	list-style: none;
	display: inline-block;
	float: left;
	width: 33%;
/* 	width: 20rem; */
/* 	margin-right: 3.3125rem; */
	padding-right: 3.3125rem;
	vertical-align: top;
	font-weight: 400;
}

.goals-list-item:nth-child(3n+1) {
	clear: left;
}

.goals-list:nth-child(1),
.goals-list:nth-child(2),
.goals-list:nth-child(3) {
	margin-bottom: 6.3125rem;
}

.goals-list:nth-child(3),
.goals-list:nth-child(6) {
	margin-right: 0;
}


.goals-list-item:last-child{
	margin-right: 0;
}

.goals-heading {
	font-size: 1rem;
}

.goals-text {
	color: #777777;
}

.colearners {
	padding-top: 5.6875rem; 
	width: 100%;
	background: #f9f9f9;
/* 	display: block; */
}

.colearners-heading {
	font-weight: 500;
	text-align: center;
	}

.colearners-list {	
	margin-top: 5.625rem;
	text-align: center;
	list-style: none;
	margin-left: 5.25rem;
	margin-right: 5.25rem;
	padding: 0;
	margin-bottom: 0;
}

.colearners-item {
	display: inline-block;
/* 	width: 14.5rem; */
	margin-right: 2.625rem;
}

.colearners-item:nth-child(4),
.colearners-item:nth-child(8),
.colearners-item:nth-child(12) {
	margin-right: 0;
}

.colearners-photo {
	border-radius: 50%;
}

.social-list {
	list-style: none;
	text-align: center;
	padding-bottom: 4.375rem;
	padding-left: 0;
}

.social-list-item {
	display: inline-block;
}

.social-list-link {
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 1.35rem;
	width: 1.35rem;
	background-image: url("img/slice.png");
	background-repeat: no-repeat;
/* 	border: 1px solid red; */
}



.facebook {
	background-position: -33px 0;
}

.twitter {
	
}

.dribble {
	background-position: -70px 0;
}

.linkedin {
	background-position: -104px 0;
}

.instructor {
	background-image: url("img/instructor.jpg");
	color: #FFFFFF;
	height: 43.8125rem;
	background-size: cover;
	background-repeat: no-repeat;
	padding-left: 5rem;
	padding-top: .01rem;
}

.instructor-heading,
.instructor-name,
.instructor-company,
.instructor-description {
	position: relative;
	top: 13rem;
}

.instructor-heading {
	font-size: 1.125rem;
	font-weight: 300;
	margin-bottom: .9375rem;
}

.instructor-name {
	font-size: 2.25rem;
	font-weight: 500;
	margin-bottom: 0;
	margin-top: 0;
}

.instructor-company {
	font-size: 1.375;
	font-weight: 500;
	margin-top: .25rem;
}

.instructor-description {
	font-size: 1.25rem;
	font-weight: 400;
	max-width: 26.5rem;
}


@media (max-width: 768px) {
	.goals-list-item {
		width: 100%;
	}
	
	.goals-heading {
		text-align: center;
	}
}







