/* Colors */
/* Fonts */
/* Extends
========================
*/
.main-hero, .intro, .intro-text, .colearners-heading, .colearners-list, .sign-up-button {
  text-align: center; }

/* Mixins 
========================
*/
*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif; }

.background-wrapper {
  background-image: url("../../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFFFFF;
  height: 40rem; }
  @media only screen and (max-width: 768px) {
    .background-wrapper {
      height: 45rem;
      background-attachment: none; } }

.logo,
.main-nav,
.nav-item {
  display: inline-block; }

@media only screen and (max-width: 768px) {
  .logo,
  .main-nav {
    display: block; } }

.logo {
  width: 9.8125rem;
  height: 6.25rem;
  margin-top: 1.125rem;
  margin-left: 2.125rem; }
  @media only screen and (max-width: 768px) {
    .logo {
      margin: 0 auto;
      padding-top: 2rem;
      text-align: center; } }

.main-nav {
  margin-top: 2.1875rem;
  margin-right: 2.1875rem;
  float: right; }
  @media only screen and (max-width: 768px) {
    .main-nav {
      padding: 2rem 0 0 0;
      margin: 0;
      float: none;
      text-align: center; } }

@media only screen and (max-width: 768px) {
  .nav-list {
    padding: 0; } }

.nav-item {
  list-style: none;
  padding-left: 1.75rem; }
  @media only screen and (max-width: 768px) {
    .nav-item {
      padding: 0 0.5rem; } }

.nav-item-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 500; }

.main-hero {
  height: 20rem; }

.main-hero-heading,
.main-hero-date {
  margin: 0;
  position: relative;
  top: 45%; }
  @media only screen and (max-width: 768px) {
    .main-hero-heading,
    .main-hero-date {
      top: 30%; } }

.main-hero-heading {
  font-size: 5.75rem;
  font-weight: 100; }

.main-hero-date {
  font-size: 1.5rem;
  font-weight: 300; }

.main-hero-date::after {
  content: "</>";
  display: block; }

.intro-text {
  color: #C3BFBF;
  margin-top: 9.375rem;
  margin-bottom: 4.8125rem;
  font-size: 2rem;
  max-width: 52.75rem;
  display: inline-block;
  font-weight: 300; }
  @media only screen and (max-width: 768px) {
    .intro-text {
      max-width: 90%; } }

.divider {
  width: 100%;
  height: 3rem;
  background-image: url("../../img/divider.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 7.9375rem; }

.goals {
  width: 100%;
  display: inline-block;
  padding-bottom: 9.6875rem; }

.goals-header {
  color: #777777;
  font-size: 1.75rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4.3125rem;
  font-weight: 500; }

.goals-list {
  margin-left: 3.4375rem;
  margin-right: 3.4375rem;
  display: block; }
  @media only screen and (max-width: 768px) {
    .goals-list {
      padding-left: 0; } }

.goals-list-item {
  list-style: none;
  display: inline-block;
  float: left;
  width: 33%;
  padding-right: 3.3125rem;
  vertical-align: top;
  font-weight: 700; }
  @media only screen and (max-width: 768px) {
    .goals-list-item {
      width: 100%;
      padding-right: 0; } }

.goals-list-item:nth-child(3n+1) {
  clear: left; }

.goals-list:nth-child(1),
.goals-list:nth-child(2),
.goals-list:nth-child(3) {
  margin-bottom: 6.3125rem; }

.goals-list:nth-child(3),
.goals-list:nth-child(6) {
  margin-right: 0; }

.goals-list-item:last-child {
  margin-right: 0; }

.goals-heading {
  font-size: 1rem; }
  @media only screen and (max-width: 768px) {
    .goals-heading {
      text-align: center; } }

.goals-text {
  color: #777777; }
  @media only screen and (max-width: 768px) {
    .goals-text {
      width: 100%;
      text-align: center; } }

.colearners {
  padding-top: 5.6875rem;
  width: 100%;
  background: #f9f9f9; }

.colearners-heading {
  font-weight: 500; }

.colearners-list {
  margin-top: 5.625rem;
  list-style: none;
  margin-left: 5.25rem;
  margin-right: 5.25rem;
  padding: 0;
  margin-bottom: 0; }

.colearners-item {
  display: inline-block;
  margin-right: 2.625rem; }
  @media only screen and (max-width: 768px) {
    .colearners-item {
      margin-right: 0; } }

.colearners-item:nth-child(4),
.colearners-item:nth-child(8),
.colearners-item:nth-child(12) {
  margin-right: 0; }

.colearners-photo {
  border-radius: 50%; }

.social-list {
  list-style: none;
  text-align: center;
  padding-bottom: 4.375rem;
  padding-left: 0; }

.social-list-item {
  display: inline-block; }

.social-list-link {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 1.35rem;
  width: 1.35rem;
  background-image: url("../../img/slice.png");
  background-repeat: no-repeat; }

.instructor {
  background-image: url("../../img/instructor.jpg");
  color: #FFFFFF;
  height: 43.8125rem;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 5rem;
  padding-top: .01rem; }
  @media only screen and (max-width: 768px) {
    .instructor {
      padding-left: 0; } }

.instructor-heading,
.instructor-name,
.instructor-company,
.instructor-description {
  position: relative;
  top: 13rem; }
  @media only screen and (max-width: 768px) {
    .instructor-heading,
    .instructor-name,
    .instructor-company,
    .instructor-description {
      text-align: center; } }

.instructor-heading {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: .9375rem; }

.instructor-name {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0; }

.instructor-company {
  font-size: 1.375;
  font-weight: 500;
  margin-top: .25rem; }

.instructor-description {
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 26.5rem; }

.testimonial {
  height: 39.125rem;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .testimonial {
      height: 42rem; } }

.testimonial-quote {
  display: inline-block;
  font-weight: 300;
  max-width: 56.4375rem;
  color: #E66244;
  margin-top: 10.625rem;
  margin-bottom: 0;
  font-size: 3rem; }
  @media only screen and (max-width: 768px) {
    .testimonial-quote {
      font-size: 2rem;
      max-width: 90%; } }

.testimonial-person {
  margin-top: 4.4375rem;
  color: #AAAAAA;
  font-size: 1.375rem;
  font-weight: 500; }

.testimonial-info,
.testimonial-course {
  font-size: 1rem;
  font-weight: 500;
  color: #AAAAAA;
  margin-bottom: 6.9375; }

.footer-background {
  background: url("../../img/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFFFFF; }
  @media only screen and (max-width: 768px) {
    .footer-background {
      background-attachment: none; } }

.main-footer {
  height: 34.125rem;
  display: block; }
  @media only screen and (max-width: 768px) {
    .main-footer {
      height: 25rem; } }

.course-info {
  display: inline-block;
  list-style: none;
  margin-top: 0;
  margin-bottom: 4.55rem;
  padding-top: 8.8125rem;
  padding-left: 5.75rem;
  font-size: 2.25rem;
  font-weight: 300; }
  @media only screen and (max-width: 768px) {
    .course-info {
      font-size: 1.5rem;
      display: block;
      margin-bottom: 4rem; } }

.course-info li:nth-child(5) {
  padding: 2.6875rem 0; }

.sign-up-button {
  margin-top: 12.8125rem;
  border: 3px solid #FFFFFF;
  margin-right: 7.75rem;
  font-size: 1.86875rem;
  text-decoration: none;
  color: #FFFFFF;
  float: right;
  display: inline-block;
  padding: 1.5rem 7.5rem;
  font-weight: 700; }
  @media only screen and (max-width: 768px) {
    .sign-up-button {
      float: none;
      font-size: 1rem;
      padding: 1rem 0;
      display: block;
      margin: 0 auto 4rem;
      width: 50%; } }

.sub-footer {
  height: 7.875rem;
  width: 100%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 0; }

.footer-logo,
.address {
  display: inline-block;
  position: relative;
  top: 2rem;
  margin-left: 2rem; }

.footer-logo {
  width: 6.25rem;
  height: 4rem; }

@media (max-width: 768px) {
  .logo,
  .main-nav {
    display: block; }
  .logo {
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center; }
  .main-nav {
    padding: 2rem 0 0 0;
    margin: 0;
    float: none;
    text-align: center; }
    .main-nav .nav-list {
      padding: 0; }
      .main-nav .nav-list .nav-item {
        padding: 0 0.5rem; }
  .main-hero-heading,
  .main-hero-date {
    top: 30%; }
  .background-wrapper {
    height: 45rem; }
  .intro-text {
    max-width: 90%; }
  .goals-list {
    padding-left: 0; }
  .goals-list-item {
    width: 100%;
    padding-right: 0; }
  .goals-heading {
    text-align: center; }
  .goals-text {
    width: 100%;
    text-align: center; }
  .colearners-item {
    margin-right: 0; }
  .instructor {
    padding-left: 0; }
  .instructor-heading,
  .instructor-name,
  .instructor-company,
  .instructor-description {
    text-align: center; }
  .testimonial {
    height: 42rem; }
  .testimonial-quote {
    font-size: 2rem;
    max-width: 90%; }
  .background-wrapper,
  .footer-background {
    background-attachment: none; }
  .main-footer {
    height: 25rem; }
  .course-info {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 4rem; }
  .sign-up-button {
    float: none;
    font-size: 1rem;
    padding: 1rem 0;
    display: block;
    margin: 0 auto 4rem;
    width: 50%; } }
